@charset "utf-8";

label {
    display: block;
}

.delete {
    display: block;
}

input[type="submit"] {
    display: block;
    margin-right: 10px;
}

.tasks {
    display: flex;
}

.tasks-link{
    padding-right: 10px;
}

.button-group{
    display: flex;
}

.button-group button {
    margin-right: 10px;
}

.error{
    color: red;
}
